<div style="background-color:white;margin:0;padding:0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellspacing="0" cellpadding="0"
                        style="margin:0 auto;max-width:600px;width:100%;padding:1px">
                        <tbody>
                            <tr>
                                <td align="center"
                                    style="background-color:#ffffff;margin:0;padding:0;border:1px solid #b2b2b2">
                                    <!-- HEADER STARTS -->
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="border-top:5px solid #336699;margin:0;padding:0;padding-bottom:0px;text-align:left">
                                                    <table cellspacing="0" cellpadding="0" border="0"
                                                        style="margin:0 auto;text-align:left;width:90%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="margin:0;padding:15px 0">
                                                                    <img style="width:120px;height:50px;"
                                                                        src="https://api.joinblueberry.com/public/images/logo.svg"
                                                                        alt="Logo">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="margin:0;padding:0">
                                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                                        style="width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:42px;font-weight:bold;line-height:52px;margin:0;padding:0;padding-bottom:10px;padding-top:10px;text-align:center">
                                                                                    <font face="Arial">Nice work
                                                                                        applying for life insurance!
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#2b2727;font-size:19px;line-height:30px;margin:0;padding:0;padding-bottom:20px;text-align:center">
                                                                                    <font face="Arial">Your next step is
                                                                                        a quick call.</font>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="font-family:'AdelleSans-Light',Arial,sans-serif;font-size:14px;line-height:20px;color:#4d4d4d;padding-bottom:0px"
                                                                                    valign="top">
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td height="35px"
                                                                                                    width="35px">
                                                                                                    <img style="padding-right:10px;padding-top:10px"
                                                                                                        src="https://ci3.googleusercontent.com/proxy/YAQHlO2DXpIsPajy2AiDy0tMWyHkh7GTthbSV-SpfwtMuGTw04eH3v_xc_isvzZQY3G5xU9HCZp_mQ9OY_4nHPmRmVVWu8_v5rF2H8eQ0rmfUUnLI1ALO9HyQ09vtw0g=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/phone.png"
                                                                                                        height="35px"
                                                                                                        class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <div
                                                                                                        style="color:#336699;font-size:28px;line-height:36px">
                                                                                                        <a href="tel:+18339282583"
                                                                                                            style="padding-bottom:0px;color:#336699;text-decoration:none;margin:0;overflow:hidden;max-height:0;width:0;font-weight:bold"
                                                                                                            target="_blank">
                                                                                                            +1-833-928-2583
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="margin:0;padding:0">
                                                                                    <div
                                                                                        style="display:none;font-size:0;padding:0px 0 10px">
                                                                                        <table border="0"
                                                                                            cellpadding="0"
                                                                                            cellspacing="0"
                                                                                            style="width:100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="margin:0;padding-top:20px">
                                                                                                        <a href="tel:8559960280"
                                                                                                            style="background-color:#ff700a;border:2px solid #ff700a;color:#ffffff;display:inline-block;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:14px;font-weight:bold;letter-spacing:1px;line-height:50px;min-width:140px;padding:0 20px;text-align:center;text-decoration:none"
                                                                                                            target="_blank">
                                                                                                            <font
                                                                                                                face="Arial">
                                                                                                                CALL US
                                                                                                            </font>
                                                                                                        </a> </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:14px;line-height:24px;margin:0;padding:0;padding-bottom:20px;text-align:center">
                                                                                    <font face="Arial">We're here until
                                                                                        11pm EST today!</font>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- HEADER END -->

                                    <!-- CONTENT STARTS -->
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="margin:0;padding:0">
                                                    <table cellpadding="0" cellspacing="0" border="0"
                                                        style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="margin:0;padding:0;vertical-align:top;width:100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="margin:0 auto;text-align:left;width:90%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="margin:0;padding:0">
                                                                                    <table border="0" cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        style="width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-top:20px">
                                                                                                    <font face="Arial">
                                                                                                        Before we submit
                                                                                                        your life
                                                                                                        insurance
                                                                                                        application to
                                                                                                        Mutual of Omaha,
                                                                                                        we are required
                                                                                                        to connect with
                                                                                                        you over the
                                                                                                        phone. We'll
                                                                                                        keep trying you,
                                                                                                        but you can also
                                                                                                        give us a ring!
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="margin:0;padding:0">
                                                    <table cellpadding="0" cellspacing="0" border="0"
                                                        style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="margin:0;padding:0;vertical-align:top;width:100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="margin:0 auto;text-align:left;width:90%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="margin:0;padding:0">
                                                                                    <table border="0" cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        style="width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:26px;font-weight:bold;line-height:34px;margin:0;padding:0;padding-bottom:15px;padding-top:40px">
                                                                                                    <font face="Arial">
                                                                                                        Here's what
                                                                                                        we'll cover:
                                                                                                    </font>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="margin:0;padding:0;padding-bottom:0px;padding-top:0px;text-align:center">
                                                                                                    <table dir="ltr"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        style="margin:0 auto;text-align:left;width:100%;padding:0px 0px 20px 0px">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left"
                                                                                                                    style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top">
                                                                                                                    <img alt="Home"
                                                                                                                        src="https://ci4.googleusercontent.com/proxy/mSXq_SciatS_uesfaq0wKJJogKZ0b7ULxdJxlx1TXKPlnZrViB7tUlmgilWJCPi1EWyvxTq_qUbkxK8PXB1ZgJof6G4Pgw9as2shxtif4U8PLt87yDXAWiD1YIZfxnHIvQ=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/health.png"
                                                                                                                        border="0"
                                                                                                                        height="70"
                                                                                                                        width="auto"
                                                                                                                        style="border:none;font-size:16px"
                                                                                                                        class="CToWUd">
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        <span
                                                                                                                            style="font-size:19px;line-height:30px">Your
                                                                                                                            health
                                                                                                                            history</span>
                                                                                                                    </font>
                                                                                                                    <br>
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        We'll
                                                                                                                        review
                                                                                                                        the
                                                                                                                        details
                                                                                                                        to
                                                                                                                        ensure
                                                                                                                        underwriting
                                                                                                                        goes
                                                                                                                        smoothly.
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td align="left"
                                                                                                                    style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top">
                                                                                                                    <img alt="Email"
                                                                                                                        src="https://ci6.googleusercontent.com/proxy/1KXQeSgE-_cGQtvHT8pl3CBNzH5T-m-CROvgizEA_1nA9Zcze7WO2EYzpAtwnwoul5o9mhrufGk-S8zawGFacjwXEW6sqnzZwX33zP0uBRw87ahRXOTLzZAoOw2FnIucCDs=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/compare.png"
                                                                                                                        border="0"
                                                                                                                        height="70"
                                                                                                                        width="auto"
                                                                                                                        style="border:none;font-size:16px"
                                                                                                                        class="CToWUd">
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        <span
                                                                                                                            style="font-size:19px;line-height:30px">Your
                                                                                                                            coverage</span>
                                                                                                                    </font>
                                                                                                                    <br>
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        Let's
                                                                                                                        double-check
                                                                                                                        your
                                                                                                                        dollar
                                                                                                                        amount
                                                                                                                        and
                                                                                                                        policy
                                                                                                                        length
                                                                                                                        to
                                                                                                                        make
                                                                                                                        sure
                                                                                                                        you're
                                                                                                                        getting
                                                                                                                        the
                                                                                                                        best
                                                                                                                        rate.
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td align="left"
                                                                                                                    style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top">
                                                                                                                    <img alt="Experts"
                                                                                                                        src="https://ci4.googleusercontent.com/proxy/WHwskuyWWx0-faG2IIwrfwg_uSJz7q8C9icf_VYTxTfXThIsp_ySig9gsRMBuqjM-f5Aros2ix9EMYWECLYkqu0H3xP5tmgrpziQD6COuaGEi7VU1ZneK1lHGlLVKFdWY9XsDw=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/questions.png"
                                                                                                                        border="0"
                                                                                                                        height="70"
                                                                                                                        width="auto"
                                                                                                                        style="border:none;font-size:16px"
                                                                                                                        class="CToWUd">
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px">
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        <span
                                                                                                                            style="font-size:19px;line-height:30px">Your
                                                                                                                            questions</span>
                                                                                                                    </font>
                                                                                                                    <br>
                                                                                                                    <font
                                                                                                                        face="Arial">
                                                                                                                        Anything
                                                                                                                        you're
                                                                                                                        confused
                                                                                                                        by
                                                                                                                        or
                                                                                                                        unsure
                                                                                                                        about?
                                                                                                                        We'll
                                                                                                                        help.
                                                                                                                    </font>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="margin:0;padding:0">
                                                                                                    <div
                                                                                                        style="display:none;font-size:0;padding:0px 0 20px">
                                                                                                        <table
                                                                                                            border="0"
                                                                                                            cellpadding="0"
                                                                                                            cellspacing="0"
                                                                                                            style="width:100%">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top;text-align:center">
                                                                                                                        <img alt="Home"
                                                                                                                            src="https://ci4.googleusercontent.com/proxy/mSXq_SciatS_uesfaq0wKJJogKZ0b7ULxdJxlx1TXKPlnZrViB7tUlmgilWJCPi1EWyvxTq_qUbkxK8PXB1ZgJof6G4Pgw9as2shxtif4U8PLt87yDXAWiD1YIZfxnHIvQ=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/health.png"
                                                                                                                            border="0"
                                                                                                                            height="70"
                                                                                                                            width="auto"
                                                                                                                            style="border:none;font-size:16px"
                                                                                                                            class="CToWUd">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td
                                                                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:30px;text-align:center">
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            <span
                                                                                                                                style="font-size:19px;line-height:30px">Your
                                                                                                                                health
                                                                                                                                history</span>
                                                                                                                        </font>
                                                                                                                        <br>
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            Let's
                                                                                                                            review
                                                                                                                            the
                                                                                                                            details
                                                                                                                            to
                                                                                                                            ensure
                                                                                                                            underwriting
                                                                                                                            goes
                                                                                                                            smoothly.
                                                                                                                        </font>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top;text-align:center">
                                                                                                                        <img alt="Email"
                                                                                                                            src="https://ci6.googleusercontent.com/proxy/1KXQeSgE-_cGQtvHT8pl3CBNzH5T-m-CROvgizEA_1nA9Zcze7WO2EYzpAtwnwoul5o9mhrufGk-S8zawGFacjwXEW6sqnzZwX33zP0uBRw87ahRXOTLzZAoOw2FnIucCDs=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/compare.png"
                                                                                                                            border="0"
                                                                                                                            height="70"
                                                                                                                            width="auto"
                                                                                                                            style="border:none;font-size:16px"
                                                                                                                            class="CToWUd">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td
                                                                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:30px;text-align:center">
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            <span
                                                                                                                                style="font-size:19px;line-height:30px">Your
                                                                                                                                coverage</span>
                                                                                                                        </font>
                                                                                                                        <br>
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            Let's
                                                                                                                            double-check
                                                                                                                            your
                                                                                                                            dollar
                                                                                                                            amount
                                                                                                                            and
                                                                                                                            policy
                                                                                                                            length
                                                                                                                            to
                                                                                                                            make
                                                                                                                            sure
                                                                                                                            you're
                                                                                                                            getting
                                                                                                                            the
                                                                                                                            best
                                                                                                                            rate.
                                                                                                                        </font>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="width:90px;margin:0;padding:0;padding-top:0px;vertical-align:top;text-align:center">
                                                                                                                        <img alt="Experts"
                                                                                                                            src="https://ci4.googleusercontent.com/proxy/WHwskuyWWx0-faG2IIwrfwg_uSJz7q8C9icf_VYTxTfXThIsp_ySig9gsRMBuqjM-f5Aros2ix9EMYWECLYkqu0H3xP5tmgrpziQD6COuaGEi7VU1ZneK1lHGlLVKFdWY9XsDw=s0-d-e1-ft#https://storage.googleapis.com/pg-marketing-email-assets/2019/Icons/questions.png"
                                                                                                                            border="0"
                                                                                                                            height="70"
                                                                                                                            width="auto"
                                                                                                                            style="border:none;font-size:16px"
                                                                                                                            class="CToWUd">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td
                                                                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;margin:0;padding:0;padding-bottom:20px;text-align:center">
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            <span
                                                                                                                                style="font-size:19px;line-height:30px">Your
                                                                                                                                questions</span>
                                                                                                                        </font>
                                                                                                                        <br>
                                                                                                                        <font
                                                                                                                            face="Arial">
                                                                                                                            Anything
                                                                                                                            you're
                                                                                                                            confused
                                                                                                                            by
                                                                                                                            or
                                                                                                                            unsure
                                                                                                                            about?
                                                                                                                            We'll
                                                                                                                            help.
                                                                                                                        </font>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- QUOTES STARTS -->
                                    <% companies.forEach(function(company){ %>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="margin:0;padding:0;padding-bottom:20px;padding-top:0px;text-align:center;background-color:#f5f5f5;width:100%">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            style="margin:0 auto;text-align:left;width:90%">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:26px;font-weight:bold;line-height:34px;margin:0;padding:0;padding-bottom:20px;padding-top:30px">
                                                                        <font face="Arial">
                                                                            You applied with <%= company.company_name %>:
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="margin:0;padding-bottom:20px;background-color:#ffffff;border:1px solid #d6d6d6">
                                                                        <table border="0" cellspacing="0" cellpadding="0"
                                                                            style="width:100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th
                                                                                        style="font-weight:normal;text-align:left;vertical-align:top">
                                                                                        <table border="0" cellspacing="0"
                                                                                            cellpadding="0"
                                                                                            style="width:100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="color:#808080;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;font-weight:bold;margin:0;padding:0;padding:20px 0px 10px 0px;text-align:center">
                                                                                                        <font face="Arial">
                                                                                                            COVERAGE
                                                                                                        </font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:22px;font-weight:bold;line-height:29px;margin:0;padding-bottom:20;text-align:center">
                                                                                                        <font face="Arial">
                                                                                                            $<%= company.coverage %>
                                                                                                        </font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </th>
                                                                                    <th
                                                                                        style="font-weight:normal;text-align:left;vertical-align:top">
                                                                                        <table border="0" cellspacing="0"
                                                                                            cellpadding="0"
                                                                                            style="width:100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="color:#808080;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;font-weight:bold;margin:0;padding:0;padding:20px 0px 10px 0px;text-align:center">
                                                                                                        <font face="Arial">
                                                                                                            TERM
                                                                                                        </font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:22px;font-weight:bold;line-height:29px;margin:0;padding:0;text-align:center">
                                                                                                        <font face="Arial">
                                                                                                            <% if (company.product_type == 'term') { %>
                                                                                                            <%= company.term %>
                                                                                                            years
                                                                                                            <% } else if (company.product_type == 'fex') { %>
                                                                                                            Whole Life
                                                                                                            <% } %>
                                                                                                        </font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </th>
                                                                                    <th
                                                                                        style="font-weight:normal;text-align:left;vertical-align:top">
                                                                                        <table border="0" cellspacing="0"
                                                                                            cellpadding="0"
                                                                                            style="width:100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="color:#808080;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:16px;line-height:26px;font-weight:bold;margin:0;padding:0;padding:20px 0px 10px 0px;text-align:center">
                                                                                                        <font face="Arial">
                                                                                                            PREMIUM
                                                                                                        </font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="color:#2b2727;font-family:HelveticaNeue-Light,'Helvetica Neue Light',Arial,sans-serif;font-size:22px;font-weight:bold;line-height:29px;margin:0;padding:0;text-align:center">
                                                                                                        <font face="Arial">
                                                                                                            $<%= company.premium_monthly %>
                                                                                                            <span
                                                                                                                style="font-size:16px;line-height:26px">
                                                                                                                /mo
                                                                                                            </span>
                                                                                                        </font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <% }); %>
                                    <!-- QUOTES END -->

                                    <!-- CONTENT END -->

                                    <!-- FOOTER STARTS -->
                                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td
                                                    style="border-bottom:5px solid #336699;margin:0;padding-top:10px;padding-bottom:10px;text-align:left">
                                                    <table cellspacing="0" cellpadding="0" border="0"
                                                        style="margin:0 auto;text-align:right;width:90%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <img style="width:120px;height:50px;"
                                                                        src="https://api.joinblueberry.com/public/images/logo.svg"
                                                                        alt="Logo">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- FOOTER END -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>